{% extends 'base.html.twig' %}
{% block body %}
    <h1>Connexion</h1>
    <div>
        <form action="{{ path('login') }}" method="post">
            <fieldset>


                <div class="form-group" bis_skin_checked="1">
                    <label for="exampleInputEmail1">Adresse Email</label>
                    <input type="email" class="form-control" name="_username" required aria-describedby="emailHelp" placeholder="Enter email">

                </div>
                <div class="form-group" bis_skin_checked="1">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="_password" required placeholder="Password">
                </div>
                <div class="form_group">
                    <button type="submit" class="btn btn-success">Connecter</button>
                </div>
                <br>
                <div class="form_group">
                    <a  class="btn btn-success" href="{{ path('inscription') }}">Inscription</a>
                </div>
            </fieldset>

        </form>
    </div>
{% endblock %}