{% extends 'base.html.twig' %}
{% block title 'Agence de Tour DSI202' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>BIENVENU DANS NOTRE SITE</h1><br>
        <img src="https://i2.wp.com/theluxurytravelexpert.com/wp-content/uploads/2014/12/tulum-riviera-maya-mexico.jpg?ssl=1" width="100%" height="100%home">
        <img src="https://www.travelanddestinations.com/wp-content/uploads/2019/10/Ban-Gioc-Detian-Waterfalls-closeup.jpg" width="100%" height="100%home">

    </div>
{% endblock %}